# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# nyc output directory
.nyc_output
coverage

# tests
tests/cache/
tests/types.js

# stryker temp files
.stryker-tmp
reports/

# jekyll build
docs/_site

# npm pack
*.tgz

.env